# PHP
.php_cs.cache
.phpunit.result.cache

# Logs
logs/
*.log

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# App Data
.gemini/
.env
config/local.php
